<div class="stat-block center">
  {{#if useMax}}
  {{formGroup field.fields.max value=value.max localize=true type="number" label=name}}
  {{else}}
  {{formGroup field.fields.raw value=value.raw localize=true type="number" label=name}}
  {{/if}}
  <input type="text" disabled value="{{numberFormat value.mod decimals=0 sign=true}}">
</div>