<div class="stat-block center">
  <div class="form-group">
    <label>
      {{localize name}}
      {{formInput stat.fields.raw value=value.raw localize=true type="number"}}
    </label>
  </div>
  <span>{{mod value.mod}}</span>
</div>