.roll-btn.selected {
  background: var(--control-active-border-color);
}

.roll-options {
  display: grid;
  grid-template-columns: 50% 50%;
  place-items: center;
}

.roll-types {
  display: flex;
}

.roll-types > * {
  flex: 1;
}