section[data-tab="stats"] {
  gap: 0.2rem;
}

/* Header */

.character-header {
  display: grid;
  grid-template-columns: 22% 52% 24%;
  gap: 1%;
  margin-bottom: 10px;
}

.center {
  display: grid;
  place-items: center;
}

.center-row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: center;
  gap: 3px;
}

input.character-name {
  height: 80%;
  font-size: 2rem;
}

.tab[data-group="primary"] {
  margin-top: 7px;
}

.hp-total {
  display: grid;
  align-items: center;
  text-align: center;
  grid-template-columns: 45% 10% 45%;
}

/* Stats */

.stat-blocks {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(7, calc(100% / 7));
}

.stat-block, .stat-block .form-group input {
  height: auto;
  width: 75%;
}

.stat-block input {
  text-align: center;
}

.stat-block .form-group {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.stat-block label {
  display: inline-block;
}

.stat-block input {
  width: 60px;
  font-size: 1.1rem;
  aspect-ratio: 1/1;
}

.stat-tracking {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bonus-input {
  display: inline-block;
}

.bonus-input input {
  field-sizing: content;
  height: 1.5rem;
  flex: none;
}

.skill-blocks {
  display: grid;
  grid-template-columns: 48% 48%;
  gap: 4%;
  margin-bottom: 2px;
}

.skill-block .form-group {
  display: grid;
  grid-template-columns: 58% 30% 12%;
  gap: 0;
}

.skill-block select {
  appearance: none;
  text-align: center;
}

/* About */

.about {
  display: grid;
  grid-template-columns: 50% 50%;
}

.about label {
  display: grid;
  place-items: center;
}

.about .form-group {
  width: 100%;
  padding: 1px;
}

/* Moves */

.move-help, .item-help {
  display: grid;
  place-items: center;
  height: 410px;
}

.move-grid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-auto-rows: 200px;
  height: 410px;
  max-height: 410px;
  row-gap: 5px;
  overflow-y: scroll;
}

.move-block.empty {
  display: grid;
  place-items: center;
  text-align: center;
}

.move-block-sections {
  display: grid;
  height: 100%;
  grid-template-rows: 10% 45% 20% 25%;
  align-items: center;
}

.move-buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.pp-left {
  width: 35px;
  text-align: center;
}

/* Items */

.item-main {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.item-list {
  height: 400px;
}

.item-row {
  display: grid;
  align-items: center;
  text-align: center;
  grid-template-columns: 20% 40% 20% 7% 8% 5%;
}

.held-item-box {
  place-self: center;
}

/* Tracks */

.friendship-grid {
  display: grid;
  grid-template-columns: 47% 47%;
  gap: 6%;
}

/* TODO: remove these blurbs after they've been implemented (except about)*/

.blurb.form-group.blurb-small {
  height: 200px;
}

.blurb.form-group {
  height: 300px;
  display: inline-block;
}

.blurb.form-group textarea {
  resize: none;
  height: 100%;
}

.blurb .form-fields, .blurb .form-fields input {
  height: 100%;
}