.move-tophalf {
  display: grid;
  grid-template-columns: 54% 44%;
  gap: 2%;
}

.move-info {
  display: flex;
  flex-direction: column;
}

.move-desc {
  flex: 1
}

.move-desc .form-fields {
  height: 110px;
}

.move-tophalf textarea {
  height: 100%;
  resize: none;
}

.move-header {
  display: grid;
  grid-template-columns: 22% 77%;
  gap: 1%;
  margin-bottom: 10px;
}

input.move-name {
  height: 80%;
  font-size: 2rem;
}

.move-metadata {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.move-options {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 49% 49%;
  gap: 2%;
}

.move-options input {
  width: 100%;
}

.move-checks {
  display: grid;
  grid-template-columns: 39% 20% 39%;
  gap: 1%;
  place-items: center;
  vertical-align: center;
  text-align: center;
}

.move-skill-check, .move-desc {
  text-align: center;
  gap: 0;
}

.move-skill-check input[type="checkbox"] {
  margin: 0;
}

.move-skill-inputs {
  display: grid;
  grid-template-columns: 43% 10% 43%;
  gap: 2%;
  place-items: center;
  vertical-align: center;
  text-align: center;
}

.effect-set {
  height: 250px;
}

.effect-set, .effect-set fieldset {
  padding: 0.5rem;
}

.wide-button {
  width: 100%;
}

/* .effect-set {
  max-height: 400px;
}

.effect-section {
  display: grid;
  grid-template-columns: 85% 10%;
  gap: 5%;
  place-items: center;
}

.effect-fields .form-group {
  display: grid;
  grid-template-columns: 50% 50%;
} */
