.move-header {
  display: grid;
  grid-template-columns: 22% 77%;
  gap: 1%;
  margin-bottom: 10px;
}

input.move-name {
  height: 80%;
  font-size: 2rem;
}

.move-options {
  display: grid;
  grid-template-columns: 49% 49%;
  gap: 2%;
}

.move-options input {
  width: 100%;
}

/* .effect-set {
  max-height: 400px;
}

.effect-section {
  display: grid;
  grid-template-columns: 85% 10%;
  gap: 5%;
  place-items: center;
}

.effect-fields .form-group {
  display: grid;
  grid-template-columns: 50% 50%;
} */
