<div class="colored-boxes move-header">
  <div class="center">
    <img src="{{document.img}}" data-edit="img" title="{{document.name}}" height="70" width="70" />
  </div>
  <div class="center">
    <input type="text" name="name" value="{{document.name}}" class="move-name">
  </div>
</div>