<section class="tab standard-form scrollable {{tabs.stats.cssClass}}" data-group="primary" data-tab="stats">
  <div class="stat-blocks">
    {{> "systems/explorers/templates/partials/stat-block.hbs" name=abilities.hp field=systemFields.hp value=document.system.hp useMax=true }}
    {{> "systems/explorers/templates/partials/stat-block.hbs" name=abilities.atk field=systemFields.abilities.fields.atk value=document.system.abilities.atk}}
    {{> "systems/explorers/templates/partials/stat-block.hbs" name=abilities.def field=systemFields.abilities.fields.def value=document.system.abilities.def}}
    {{> "systems/explorers/templates/partials/stat-block.hbs" name=abilities.spatk field=systemFields.abilities.fields.spatk value=document.system.abilities.spatk}}
    {{> "systems/explorers/templates/partials/stat-block.hbs" name=abilities.spdef field=systemFields.abilities.fields.spdef value=document.system.abilities.spdef}}
    {{> "systems/explorers/templates/partials/stat-block.hbs" name=abilities.spe field=systemFields.abilities.fields.spe value=document.system.abilities.spe}}
    {{> "systems/explorers/templates/partials/stat-block.hbs" name=abilities.iq field=systemFields.abilities.fields.iq value=document.system.abilities.iq}}
  </div>
  <div class="skill-blocks">
    {{#each skills as |name key|}}
      {{#with ..}}
        {{> "systems/explorers/templates/partials/skill-block.hbs"
          name=name
          skill=key
          field=(lookup systemFields.skills.fields key)
          value=(lookup document.system.skills key)
        }}
      {{/with}}
    {{/each}}
  </div>
</section>