<section class="tab standard-form {{tabs.stats.cssClass}}" data-group="primary" data-tab="stats">
  <div class="stat-blocks">
    {{> "systems/explorers/templates/partials/stat-block.hbs" name="SYSTEM.Abilities.hp.Short" stat=systemFields.hp value=document.system.hp}}
    {{!-- TODO: make HP readonly --}}
    {{> "systems/explorers/templates/partials/stat-block.hbs" name="SYSTEM.Abilities.atk.Short" stat=systemFields.abilities.fields.atk value=document.system.abilities.atk}}
    {{> "systems/explorers/templates/partials/stat-block.hbs" name="SYSTEM.Abilities.def.Short" stat=systemFields.abilities.fields.def value=document.system.abilities.def}}
    {{> "systems/explorers/templates/partials/stat-block.hbs" name="SYSTEM.Abilities.spatk.Short" stat=systemFields.abilities.fields.spatk value=document.system.abilities.spatk}}
    {{> "systems/explorers/templates/partials/stat-block.hbs" name="SYSTEM.Abilities.spdef.Short" stat=systemFields.abilities.fields.spdef value=document.system.abilities.spdef}}
    {{> "systems/explorers/templates/partials/stat-block.hbs" name="SYSTEM.Abilities.spe.Short" stat=systemFields.abilities.fields.spe value=document.system.abilities.spe}}
    {{> "systems/explorers/templates/partials/stat-block.hbs" name="SYSTEM.Abilities.iq.Short" stat=systemFields.abilities.fields.iq value=document.system.abilities.iq}}
  </div>
    <br>
  <div class="skill-blocks">
    {{> "systems/explorers/templates/partials/skill-block.hbs" name="SYSTEM.Skills.Endurance" stat=systemFields.skills.fields.endurance value=document.system.skills.endurance mod=document.system.hp.mod}}
    {{> "systems/explorers/templates/partials/skill-block.hbs" name="SYSTEM.Skills.Strength" stat=systemFields.skills.fields.strength value=document.system.skills.strength mod=document.system.abilities.atk.mod}}
    {{> "systems/explorers/templates/partials/skill-block.hbs" name="SYSTEM.Skills.PhysicalStatusResistance" stat=systemFields.skills.fields.physicalStatusResistance value=document.system.skills.physicalStatusResistance mod=document.system.abilities.def.mod}}
    {{> "systems/explorers/templates/partials/skill-block.hbs" name="SYSTEM.Skills.Awareness" stat=systemFields.skills.fields.awareness value=document.system.skills.awareness mod=document.system.abilities.spatk.mod}}
    {{> "systems/explorers/templates/partials/skill-block.hbs" name="SYSTEM.Skills.SpecialStatusResistance" stat=systemFields.skills.fields.specialStatusResistance value=document.system.skills.specialStatusResistance mod=document.system.abilities.spdef.mod}}
    {{> "systems/explorers/templates/partials/skill-block.hbs" name="SYSTEM.Skills.Movement" stat=systemFields.skills.fields.movement value=document.system.skills.movement mod=document.system.abilities.spe.mod}}
    {{> "systems/explorers/templates/partials/skill-block.hbs" name="SYSTEM.Skills.IQSkills" stat=systemFields.skills.fields.iq value=document.system.skills.iq mod=document.system.abilities.iq.mod}}
  </div>
</section>