<div class="colored-boxes">
  <div class="actor-sidebar-grid">
    <div class="center">
      <img src="{{document.img}}" data-edit="img" title="{{document.name}}" height="80" width="80" />
    </div>
    <div class="center">
      <input type="text" name="name" value="{{document.name}}" class="actor-name-input">
    </div>
  </div>
</div>